/alpha_x42
_UpgradeReport_Files
Release
/client/win_build/UpgradeLog.XML
/client/win_build/seti_cuda.sdf
/client/win_build/seti_cuda.suo
/client/win_build/seti_cuda.vcxproj.filters
/client/win_build/seti_cuda.vcxproj.user
/client/win_build/seti_boinc.vcproj.8.00.old
/client/win_build/seti_boinc.vcproj.Apollo.Jason.user
/client/win_build/seti_boinc.vcxproj.user
